* {
    padding: 0;
    margin: 0;
    --clr-neon: hsl(317 100% 54%);
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--clr-neon);
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 25px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

body {
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cont {
    margin: auto;
    width: 287px;
    text-align: center;
    border: 2px solid var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

table {
    margin: auto;
}

button {
    width: 69px;
    height: 65px;
    border: 2px solid var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    background-color: transparent;
    font-size: 25px;
    color: #fff;
}

input {
    font-size: 36px;
    text-align: right;
    padding: 5px;
    width: 269px;
    border: none;
    background: transparent;
    color: #fff;
}

input:focus {
    outline: none;
    border: none;
}